{% extends "base.html.twig" %}
{% block css %}
{{parent()}}
<link rel="stylesheet" href="CSS/artistepage.css">
{% endblock %}

{% block title %}RAP{% endblock %}

{% block body %}
<div class="haut">
    <div class="choix">
        <select class="trier">
            <option selected>Trier Par</option>
            <option value="1">Nom A-Z</option>
            <option value="2">Nom Z-A</option>
            <option value="3">Nouveautés</option>
            <option value="4">Plus aimés</option>
        </select>
    </div>
    <div class="titre">
        {% if app.request.get('_route')=="app_musique_genre" %}
            <h2> Musiques {{genre.nom}}
            </h2>
        {% endif %}
    </div>
</div>
    <div class="rap">
        {% for musique in musique %}
            <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('photo/produit/' ~ musique.photo)}}" alt="{{musique.photo}}" onclick="lancer_son();">
                <figcaption> {{musique.nom}}</figcaption>              
            </a>
        </figure>
        {% endfor %}
        
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
        <figure>
            <a href="audio/bitch complet.mp3">
                <img src="{{asset('img/play1.png')}}"alt="morceaux 2">
            <figcaption>ISTA - BITCH</figcaption>
            </a>
        </figure>
        <figure>
            <a href="audio/Ista naligiyo.mp3">
                <img src="{{asset('img/play1.png')}}"alt="morceaux 3">
            <figcaption>ISTA - NALIGIYO</figcaption>
            </a>
        </figure>
        <figure>
            <img src="{{asset('img/play1.png')}}"alt="morceaux 4">
            <figcaption>morceaux 4</figcaption> 
        </figure>
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
    </div>
    <div class="rap">
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1" onclick="lancer_son();">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
        <figure>
            <a href="audio/bitch complet.mp3">
                <img src="{{asset('img/play1.png')}}"alt="morceaux 2">
            <figcaption>ISTA - BITCH</figcaption>
            </a>
        </figure>
        <figure>
            <a href="audio/Ista naligiyo.mp3">
                <img src="{{asset('img/play1.png')}}"alt="morceaux 3">
            <figcaption>ISTA - NALIGIYO</figcaption>
            </a>
        </figure>
        <figure>
            <img src="{{asset('img/play1.png')}}"alt="morceaux 4">
            <figcaption>morceaux 4</figcaption> 
        </figure>
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
    </div>
    <div class="rap">
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1" onclick="lancer_son();">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
        <figure>
            <a href="audio/bitch complet.mp3">
                <img src="{{asset('img/play1.png')}}"alt="morceaux 2">
            <figcaption>ISTA - BITCH</figcaption>
            </a>
        </figure>
        <figure>
            <a href="audio/Ista naligiyo.mp3">
                <img src="{{asset('img/play1.png')}}"alt="morceaux 3">
            <figcaption>ISTA - NALIGIYO</figcaption>
            </a>
        </figure>
        <figure>
            <img src="{{asset('img/play1.png')}}"alt="morceaux 4">
            <figcaption>morceaux 4</figcaption> 
        </figure>
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
    </div>
    <div class="rap">
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1" onclick="lancer_son();">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
        <figure>
            <a href="audio/bitch complet.mp3">
                <img src="{{asset('img/play1.png')}}"alt="morceaux 2">
            <figcaption>ISTA - BITCH</figcaption>
            </a>
        </figure>
        <figure>
            <a href="audio/Ista naligiyo.mp3">
                <img src="{{asset('img/play1.png')}}"alt="morceaux 3">
            <figcaption>ISTA - NALIGIYO</figcaption>
            </a>
        </figure>
        <figure>
            <img src="{{asset('img/play1.png')}}"alt="morceaux 4">
            <figcaption>morceaux 4</figcaption> 
        </figure>
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
    </div>
    <div class="rap">
       <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1" onclick="lancer_son();">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
        <figure>
            <a href="audio/bitch complet.mp3">
                <img src="{{asset('img/play1.png')}}"alt="morceaux 2">
            <figcaption>ISTA - BITCH</figcaption>
            </a>
        </figure>
        <figure>
            <a href="audio/Ista naligiyo.mp3">
                <img src="{{asset('img/play1.png')}}"alt="morceaux 3">
            <figcaption>ISTA - NALIGIYO</figcaption>
            </a>
        </figure>
        <figure>
            <img src="{{asset('img/play1.png')}}"alt="morceaux 4">
            <figcaption>morceaux 4</figcaption> 
        </figure>
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
    </div>
{% endblock %}