{% extends "base.html.twig" %}
{% block css %}
{{parent()}}
<link rel="stylesheet" href="{{asset('CSS/menuMusic.css')}}">
{% endblock %}

{% block title %}rap{% endblock %}

{% block body %}

        <a href="{{path('app_artiste_genre', {id: genre.id})}}"><h2>Nos Artistes 
            {{genre.nom |upper}}
        </h2></a>
    
   
    <div class="rap">
        <figure>
            <img src="{{asset('img/profil.png')}}" alt="artiste 1">
            <figcaption>LKD</figcaption>
        </figure>
        <figure>
            <img src="{{asset('img/profil.png')}}"alt="artiste 2">
            <figcaption>ISTA</figcaption>
        </figure>
        <figure>
            <img src="{{asset('img/profil.png')}}"alt="artiste 3">
            <figcaption>Artiste 3</figcaption>
        </figure>
        <figure>
            <img src="{{asset('img/profil.png')}}"alt="artiste 4">
            <figcaption>Artiste 4</figcaption> 
        </figure>
        <figure>
            <img src="{{asset('img/profil.png')}}"alt="artiste 3">
            <figcaption>Artiste 3</figcaption>
        </figure>
        <figure>
            <img src="{{asset('img/profil.png')}}"alt="artiste 4">
            <figcaption>Artiste 4</figcaption> 
        </figure>
    </div>

       <a href="#"> <h2>Nos Musiques
            {{genre.nom |upper}}
        </h2></a>
    
    <div class="rap">
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
        <figure>
            <a href="audio/bitch complet.mp3">
                <img src="{{asset('img/play1.png')}}"alt="morceaux 2">
            <figcaption>ISTA - BITCH</figcaption>
            </a>
        </figure>
        <figure>
            <a href="audio/Ista naligiyo.mp3">
                <img src="{{asset('img/play1.png')}}"alt="morceaux 3">
            <figcaption>ISTA - NALIGIYO</figcaption>
            </a>
        </figure>
            <figure>
            <img src="{{asset('img/play1.png')}}"alt="morceaux 4">
            <figcaption>morceaux 4</figcaption> 
        </figure>
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
        <figure>
            <a href="audio/AUD-20230224-WA0000.mp3">
                <img src="{{asset('img/play1.png')}}" alt="morceaux 1">
                <figcaption> LKD Ft ISTA - KIL</figcaption>              
            </a>
        </figure>
    
    </div>
{% endblock %}