*
{
    margin: 0px;
    padding: 0px;
}
.main{
    flex-direction: column;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
form{
width: 620px;
flex-direction: column;
display: flex;
align-self: center;
background-color:  rgb(242, 242, 242);
border : 2px solid black;
border-radius: 10px;
box-shadow: 3px 3px 3px black;
padding: 20px;
}
.button{
    border-radius: 20px;
    padding: 2px;
    margin-top: 30px;
    width: 100px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
    display:flex;
    align-self: center;
    margin-bottom: 15px;
}  
h1{
    background-color: rgb(242, 242, 242) ;
    text-align: center;
    color: black;
    padding-bottom: 20px;
    font-style: italic;
}
.main div
{
display: flex;
flex-direction: column;
margin-top: 20px;
}
label {
    background-color: rgb(242, 242, 242);
    font-size: 17px;
    color: black;
    font-weight: bold;
    margin-right: 50px;
}
input{
    border-radius: 5px;
    padding: 3px 5px;
}
.a{
    text-decoration: none;
    color: black;
    display:flex;
    align-self: center;
}
a{
    text-decoration: none;
    color: black;
}

.choix{
    margin-bottom: 10px;
    margin-left:10px; 
} 
#registration_form_date_de_naissance{
   display: flow;
}

.checkbox label{
    font-size: 15px;
    font-weight: 400;
}
.main div #registration_form_genres{
    display:block;
    padding: 6px;
}
.main div #registration_form_genres label{
    margin-right: 50px;
}
.main div #registration_form_genres input{
    margin: 10px 5px 10px 5px;
}


@media (max-width: 1200px){
    form{
        width: auto;
    }
    .main div #registration_form_genres label{
        margin-right: 34px;
    }
}
