h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
table{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}
th, td{
    font-size: 20px;
}
th{
    padding: 30px;
}
tr{
    text-align: center;
}
td{
    padding: 10px;
}
.main{
    display: flex;
    justify-content: center;
    width: 100%;
}
.div-text, .div-select{
    width:200px;
    margin-left: 20px;
}
.div-button{
   padding: 5px;
   width: 90px;
   margin-top: 20px;
   text-align: center;
}

.div-select{
    margin-top: 20px;
}