.choix{
    margin: 10px;
}
.rap{
    display: flex;
    justify-content: center;
}
figure {
    width: 120px;
    height: 120px;
    margin : 40px;
    text-align: center;
}
figcaption
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;

}
a{
    text-decoration: none;
    color: black;
}