.trier{
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;

}
option{
    font-size: 15px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    display: flex;
}
figure {
    width: 120px;
    height: 120px;
    margin : 40px;
    text-align: center;
}
figure img {
    width: 120px;
}
figcaption
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;

}
h2{
    margin-top: 0;
}
.haut{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.titre{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 200px;
}
.choix{
    margin-right: 150px;
}
a{
    text-decoration: none;
}
@media (max-width: 1200px)
{
    .wrap figure{
        margin: 30px;
    }
    .choix{
        margin-right: 0px;
        margin-top: 20px;
    }
    .haut{
        display: flex;
        margin-top: 50px;
        align-items: center;
        flex-direction: column-reverse;
    }
    .titre{
        margin-right: 0px;
    }
}
