{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('CSS/form.css')}}">

{% endblock %}


{% block body %}

<div class='main'>


        {{ form_errors(formProfil) }}

            {{ form_start(formProfil) }}
                <h1>Modifier</h1>
                    {{ form_row(formProfil.photo) }}
                    {{ form_row(formProfil.pseudo) }}
                    {{ form_row(formProfil.biographie) }}

                <button type="submit" class="btn">Valider</button>
            {{ form_end(formProfil) }}
</div>



{% endblock %}